<div id="footer">
  <p>All content
    &copy; 2011 Vincent Batts, <a href="http://hashbangbash.com">hashbangbash.com</a>
    All rights reserved.
		<br/>
		Portal - &copy; 2002-2008 Simon Woodside. <a href="https://github.com/sbwoodside/portal">github.com portal</a>
		<br/>
		Slackagg - 2011 vbatts @ <a href="https://github.com/vbatts/slackagg">github.com slackagg</a>
  </p>
</div>
