<div id="right-rail">
  <p>
  	Something clever should go here...
	<br/>
	until then, visit the <a href="http://store.slackware.com/cgi-bin/store">Slackware Store!</a>
  </p>
  <p>
	<a href="/portal.rss">RSS feed of RSS Feeds!</a>
  </p>
</div>
