<div id="link-stream">
  <% cache do %>
    <%
      lastday = -1
      @links.each do |link| %>
        <div class="link_content">
          <a target="_blank" title="<%= link[:uri] %>" href="<%= link[:uri] + '#slackagg' %>"><%= link[:title] %></a>
        </div>
    <% end %>
  <% end %>
</div>
